---
const { text } = Astro.props
---

<h2 class="title">
    {text}
</h2>

<style>
    h2 {
        max-width: 450px;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        color:whitesmoke;

    }
</style>